/* split view classes with split.js */
.split {
  float: left;
}

.gutter {
  background-color: #ddd;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

/* html/js textarea styling */
.code-editor {
  width: 100%;
  height: 100%;
}

/* codemirror instance */
.CodeMirror {
  height: 100%;
}

/* page layout */
.code--grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas:
    "header"
    "editors"
    "frame";
}

header {
  grid-area: header;
}

#editors {
  grid-area: editors;
}

#frame {
  grid-area: frame;
}