:root {
  --editor-label-height: 30px;
}

/* split grid */

.grid {
  display: grid;
}

.gutter {
  background-color: #ddd;
}

main {
  grid-template-rows: 1fr 10px 1fr;
}

#editors {
  grid-template-columns: 1fr 10px 1fr;
}

/* codemirror instance */

.CodeMirror {
  height: 100%;
}

/* page layout */

.code--page-container {
  height: 100vh;
}

.editor-label {
  height: var(--editor-label-height);
  padding: 4px;
  padding-left: 16px;
}

.codemirror-wrapper {
  height: calc(100% - var(--editor-label-height) - 8px);
}