/* split view classes with split.js */
.gutter {
  background-color: #ddd;
}

.gutter-horizontal {
  cursor: col-resize;
}

.gutter-vertical {
  cursor: row-resize;
}

.split-horizontal, .gutter-horizontal {
  height: 100%;
  float: left;
}

/* codemirror instance */
.CodeMirror {
  height: 100%;
}

/* page layout */
.code--page-container {
  height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title buttons";
}

/* header layout */
.title-area {
  grid-area: title;
}

.button-area {
  grid-area: buttons;
}