<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Code Editor</title>

  <!-- use ramda for utility functions -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.26.1/ramda.min.js"
                integrity="sha256-43x9r7YRdZpZqTjDT5E0Vfrxn1ajIZLyYWtfAXsargA=" crossorigin="anonymous"></script> -->

  <!-- use fontawesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />

  <!-- use bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- use bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- use split.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.10/split.min.js"
    integrity="sha256-voAP1SafVzHBtUVXxB6ZuQB5mIZu6h0veHhhzwXcthQ=" crossorigin="anonymous"></script>

  <!-- use jshint -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jshint/2.10.1/jshint.min.js"
    integrity="sha256-AnRo6ofeMX/ySgINPlWrw/wgAp8WtuOLhJk7rpvr7dM=" crossorigin="anonymous"></script>

  <!-- use htmlhint -->
  <script src="../../static/javascript/htmlhint.js"></script>

  <!-- use codemirror -->
  <link href="../../codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="../../codemirror/theme/neo.css" rel="stylesheet" />
  <script src="../../codemirror/lib/codemirror.js"></script>
  <script src="../../codemirror/mode/css/css.js"></script>
  <script src="../../codemirror/mode/javascript/javascript.js"></script>
  <script src="../../codemirror/mode/xml/xml.js"></script>
  <script src="../../codemirror/mode/htmlmixed/htmlmixed.js"></script>

  <!-- codemirror addons -->
  <link href="../../codemirror/addon/lint/lint.css" rel="stylesheet" />
  <script src="../../codemirror/addon/lint/lint.js"></script>
  <script src="../../codemirror/addon/lint/html-lint.js"></script>
  <script src="../../codemirror/addon/lint/javascript-lint.js"></script>

  <!-- project's css -->
  <!-- <link rel="stylesheet" href="css/all.css" /> -->
  <link rel="stylesheet" href="../../static/css/code_editor.css" />

  <!-- javascript entry point -->
  <script src="../../static/javascript/code_editor.js" type="module" defer></script>
</head>

<body>
  <div class="code--page-container d-flex flex-column">
    <header>
      <nav class="navbar navbar-light bg-light">
        <div>
          <a class="navbar-brand" href="/">Logo</a>
          <div><strong>Task:</strong> <span id="task-placeholder"></span></div>
        </div>
        <div>
          <button class="btn btn-outline-secondary" id="run-button">Run</button>
          <button class="btn btn-outline-primary" id="submit-button">Submit</button>
        </div>
      </nav>
    </header>
    <main class="flex-grow-1">
      <!-- top half of the page shows a html editor on the left and js editor on the right -->
      <div id="editors">
        <!-- define height for horizontal split to work -->
        <div class="h-100">
          <!-- html editor -->
          <div class="split-horizontal editor-area" id="html-editor-parent">
            <h4 class="editor-label">HTML</h4>
            <div class="codemirror-wrapper" id="html-editor"></div>
          </div>
          <div class="gutter gutter-horizontal"></div>
          <!-- js editor -->
          <div class="split-horizontal" id="js-editor-parent">
            <h4 class="editor-label">JS</h4>
            <div class="codemirror-wrapper" id="js-editor"></div>
          </div>
        </div>
      </div>
      <div class="gutter gutter-vertical"></div>
      <!-- bottom half shows html page -->
      <div id="frame">
        <!-- render html page as an iframe -->
        <iframe class="w-100 h-100" frameborder="0"></iframe>
      </div>
    </main>
  </div>
</body>

</html>