<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../static/css/all.css" />
  </head>
  <body>
    <!--Topbar-->
    <section class="dark-background text-light d-none d-sm-block">
      <div class="container py-1">
        <div class="d-flex">
          <div>
            <small>
              <span class="pr-5">
                <i class="fas text-light fa-envelope-open"></i>
                support@gmail.com</span
              >
              <span class="pr-2 ">
                <i class="fas text-light fa-phone"></i> (333)-444-5555</span
              ></small
            >
          </div>
          <div class="ml-auto"><small>Logout</small></div>
        </div>
      </div>
    </section>

    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3 py-0">
      <div class="container">
        <a class="navbar-brand py-1" href="#"
          ><img src="../../static/images/logo3.png" class="logo" alt=""
        /></a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Topics</a>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >Rankings</a
              >
              <div class="dropdown-menu">
                <a href="leaderboard.html" class="dropdown-item"
                  >Leaderboards</a
                >
                <a href="#" class="dropdown-item">Table</a>
              </div>
            </li>

            <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item">
              <a class="nav-link d-block d-sm-none" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Main Content-->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-lg-10 pt-5">
          <!--Content Heading-->
          <div class="container p-0">
            <div class="row text-center">
              <div class="col-12">
                <p class="mb-2 text-uppercase alt-font text-small">
                  First topic
                </p>
                <h5
                  class="text-uppercase alt-font text-extra-dark-gray mb-3 font-weight-700"
                >
                  Flowchart
                </h5>
                <span
                  class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table margin-auto width-100px"
                ></span>
              </div>
            </div>
          </div>

          <div class="container py-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-dark" href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-dark" href="../../index.html">Topics</a>
              </li>
              <li class="breadcrumb-item active">Flowchart</li>
            </ol>
          </div>

          <div class="container">
            <div class="row mx-0">
              <div
                class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 py-5 px-md-0 px-sm-4 border-dark-pink"
              >
                <div class="container">
                  <div class="row mx-0 align-items-center">
                    <div class="col-md-4">
                      <div class="image-border">
                        <img
                          class="topic-images"
                          src="../../static/images/pexels-photo-158834.jpeg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col-md-8 pt-md-0 pt-5">
                      <div class="pl-sm-4">
                        <h5 class="mb-3 alt-font font-weight-700 ">
                          Learn about this topic
                        </h5>
                        <p class="alt-font">
                          Morbi mattis ornare ornare. Duis quam turpis, gravida
                          at leo elementum elit fusce accumsan dui libero, quis
                          vehicula lectus ultricies eu. In convallis amet leo
                          non sapien iaculis efficitur consequat lorem ipsum.
                        </p>
                        <!-- Button trigger modal -->
                        <button
                          type="button"
                          class="btn btn-outline-dark-pink"
                          data-toggle="modal"
                          data-target="#learningModalCenter"
                        >
                          Start Learning
                        </button>

                        <!-- Modal -->
                        <div
                          class="modal fade"
                          id="learningModalCenter"
                          tabindex="-1"
                          role="dialog"
                          aria-labelledby="exampleModalCenterTitle"
                          aria-hidden="true"
                        >
                          <div
                            class="modal-dialog modal-dialog-centered"
                            role="document"
                          >
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5
                                  class="modal-title"
                                  id="exampleModalLongTitle"
                                >
                                  Learning Methods
                                </h5>
                                <button
                                  type="button"
                                  class="close"
                                  data-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Choose the method of learning
                                <hr />
                                <a
                                  href="learn_pdf.html"
                                  class="btn btn-outline-dark-pink btn-block text-outline-pink"
                                >
                                  Lecture Notes
                                </a>
                                <a
                                  href="learn_vid.html"
                                  class="btn btn-outline-dark-pink btn-block text-outline-pink"
                                >
                                  Video Tutorials
                                </a>
                                <a
                                  href=""
                                  class="btn btn-outline-dark-pink btn-block text-outline-pink"
                                >
                                  Other sources
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0">
              <div
                class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 py-5 px-md-0 px-sm-4 border-dark-pink"
              >
                <div class="container">
                  <div class="row mx-0 align-items-center ">
                    <div class="col-md-4 order-md-2">
                      <div class="image-border">
                        <img
                          class="topic-images"
                          src="../../static/images/practice.jpeg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col-md-8 pt-md-0 order-md-1 pt-5">
                      <div class="pl-sm-4">
                        <h5 class="mb-3 alt-font font-weight-700 ">
                          Solve practice problems
                        </h5>
                        <p class="alt-font">
                          Morbi mattis ornare ornare. Duis quam turpis, gravida
                          at leo elementum elit fusce accumsan dui libero, quis
                          vehicula lectus ultricies eu. In convallis amet leo
                          non sapien iaculis efficitur consequat lorem ipsum.
                        </p>
                        <a
                          href="practice.html"
                          class="btn btn-outline-dark-pink text-outline-pink"
                        >
                          Practice Problems
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0">
              <div
                class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 py-5 px-md-0 px-sm-4"
              >
                <div class="container">
                  <div class="row mx-0 align-items-center">
                    <div class="col-md-4">
                      <div class="image-border">
                        <img
                          class="topic-images"
                          src="../../static/images/challenges.jpeg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col-md-8 pt-md-0 pt-5">
                      <div class="pl-sm-4">
                        <h5 class="mb-3 alt-font font-weight-700 ">
                          Challenges
                        </h5>
                        <p class="alt-font">
                          Morbi mattis ornare ornare. Duis quam turpis, gravida
                          at leo elementum elit fusce accumsan dui libero, quis
                          vehicula lectus ultricies eu. In convallis amet leo
                          non sapien iaculis efficitur consequat lorem ipsum.
                        </p>
                        <button class="btn btn-outline-dark-pink">
                          View Challenges
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Sidebar-->
        <div class="col-md-3 col-lg-2 mt-4 pl-md-0 pr-md-1 px-2">
          <h2 class="subheader px-2">John Doe</h2>
          <div class="border-top-pink border-left border-right border-bottom">
            <h2 class="subheader py-2 text-center bg-light">Level 3</h2>
            <h3 class="subheader subheader-small pt-2 px-2">Points/Rankings</h3>
            <div class="px-2">
              <table
                class="subheader subheader-small font-weight-light border px-1 bg-light"
                width="100%"
              >
                <tr class="border-bottom-white">
                  <td width="70%" class="py-1 pl-1">Overall Points:</td>
                  <th width="30%" class="py-1 pl-1">120</th>
                </tr>
                <tr class="border-bottom-white">
                  <td width="70%" class="py-1 pl-1">Overall Rank:</td>
                  <th width="30%" class="py-1 pl-1">7</th>
                </tr>
                <tr>
                  <td width="70%" class="py-1 pl-1">Total Students:</td>
                  <th width="30%" class="py-1 pl-1">36</th>
                </tr>
              </table>
            </div>
            <h3 class="subheader subheader-small pt-4 px-2">Best Overall</h3>
            <table
              width="100%"
              class="subheader subheader-small font-weight-light"
            >
              <tr class="table-heading subheader border-bottom">
                <td width="15%" class="py-1 text-center">Pos</td>
                <td width="60%" class="py-1">Name</td>
                <td width="25%" class="py-1 text-center">Points</td>
              </tr>
              <tr class="border-bottom">
                <td width="15%" class="py-1 text-center">1</td>
                <td width="60%" class="py-1">
                  <a href="" class="text-dark">Will Smith</a>
                </td>
                <td width="25%" class="py-1 text-center">260</td>
              </tr>
              <tr class="border-bottom">
                <td width="15%" class="py-1 text-center">2</td>
                <td width="60%" class="py-1">
                  <a href="" class="text-dark">Jake Gyllenhall</a>
                </td>
                <td width="25%" class="py-1 text-center">230</td>
              </tr>
              <tr class="border-bottom">
                <td width="15%" class="py-1 text-center">3</td>
                <td width="60%" class="py-1">
                  <a href="" class="text-dark">John Terry</a>
                </td>
                <td width="25%" class="py-1 text-center">200</td>
              </tr>
              <tr class="border-bottom">
                <td width="15%" class="py-1 text-center">4</td>
                <td width="60%" class="py-1">
                  <a href="" class="text-dark">Ryan Reynolds</a>
                </td>
                <td width="25%" class="py-1 text-center">190</td>
              </tr>
              <tr class="border-bottom">
                <td width="15%" class="py-1 text-center">5</td>
                <td width="60%" class="py-1">
                  <a href="" class="text-dark">David Beckham</a>
                </td>
                <td width="25%" class="py-1 text-center">160</td>
              </tr>
            </table>

            <h3 class="subheader subheader-small py-4 px-2">Achievements</h3>
            <div class="container-fluid my-2 text-center">
              <img
                class="badges bg-success icon"
                rel="popover"
                src="https://api.sololearn.com/Uploads/Achievements/56.png"
                alt="Engaged in!"
              />
            </div>
            <div class="container-fluid my-2 text-center">
              <img
                class="badges bg-secondary icon"
                src="https://api.sololearn.com/Uploads/Achievements/14.png"
                alt="Engaged in!"
              />
            </div>
            <div class="container-fluid my-2 text-center">
              <img
                class="badges bg-info icon"
                src="https://api.sololearn.com/Uploads/Achievements/16.png"
                alt="Engaged in!"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="dark-background py-5 text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h2>Discussion page</h2>
            <p class="mb-0">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
              laboriosam ali
            </p>
            <p></p>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <p class="mb-0">
              <a href="q&a.html" class="btn btn-light px-4 py-3"
                >Discussion Page</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
      var $grid = $('.gallery-wrapper').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true,
        transitionDuration: 0,
      });

      $grid.imagesLoaded().progress(function() {
        $grid.masonry();
      });
    </script>
  </body>
</html>
